* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 2.5%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);;
}

.navbar__brand {
    width: 80px;
}

.navbar__logo {
    width: 100%;
}

.main__button {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;

}

.main__button:hover {
    border: 2px solid #dd2476;
    cursor: pointer;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    position: relative;
    width: 100%;
}

.hero__container__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;

}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__title {
    font-size: 32px;
    padding: 10px;
    margin: 20px 0;
    color: #1d3557;
    font-weight: 800
}

.food__card__heading {
    padding: 20px;
    text-align: center;
    color: #1d3557;

}
.food__card__image {
    width: 100%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.food__card__image {
    width: 100%;
    border-radius:8px 8px 0 0;

}

.food__card__description {
    background-color: rgb(251, 237, 173);
    padding: 10px;
}

.restaurant__heading {
    padding: 20px;
    font-size: 32px;
    text-align: center;
    color:#1d3557;
}

.restaurant__container {
    padding: 20px;
    margin: 0 10px;
}

.restaurant__row1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}

.restaurant__row2 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.smaller__image {
    width: 40%;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.larger__image {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.quote__container {
    width: 100%;
}


.quote__description__text {
    color: #1d3557;
    justify-content: center;
    text-align: center;
    padding: 5%;
    font-size: 28px;
}

.footbar__items {
    width: 100%;
}

.footer__items__image {
    width: 100%;
}

.footer__list {
    list-style-type: none;
}

.footbar__navbar {
    border-radius: 8px 8px 0 0;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
}

.footer__items__description {
    text-align: center;
    padding: 10px;
}


@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero__title {
        font-size: 48px;
    }

    .food__card__desctiption__title {
        font-size: 28px;
    }

    .food__card__description__paragraph {
        font-size: 16px;
    }

    .food__card__heading {
        font-size: 48px;
    }

    .food__card {
        display: flex;
        gap: 15px;
        margin: 20px;
    }

    .food__card__container {
        position: relative;
    }

    .background__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #dd2476;
        transform: skewY(-3deg);
        /* transform: translateY(12px); */
    }

    #pizza {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .footbar__navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer__items__description {
        text-align: left;
    }

    .restaurant__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    #final__image__view {
        list-style-type: none;
    }

    .restaurant__heading {
        font-size: 36px;
    }

    .quote__description__text {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {

    .container {
        max-width: 75%;
    }
    .navbar__brand {
        width: 100px;
    }

    .main__button {
        padding: 10px;
        font-size: 24px;
    }

    .hero__title {
        font-size: 60px;
    }

    .restaurant__heading {
        font-size: 50px;
    }

    .quote__description__text {
        font-size: 44px;
    }
}
